<h1>New Order</h1>

<%= form_with(model: @order) do |form| %>
  <div>
    <%= form.label :table_id, "Table" %>
    <%= form.collection_select :table_id, @tables, :id, :number %>
  </div>

  <% @menu_items.each do |item| %>
    <div>
      <%= item.name %> - <%= number_to_currency(item.price) %>
      <%= form.fields_for :order_items, OrderItem.new do |order_item_form| %>
        <%= order_item_form.hidden_field :menu_item_id, value: item.id %>
        <%= order_item_form.number_field :quantity, min: 0, value: 0 %>
      <% end %>
    </div>
  <% end %>

  <%= form.submit "Create Order" %>
<% end %>
