<!DOCTYPE html>
<html>
<head>
  <title>Pedido #<%= @order.id %></title>
  <style>
    /* General Styling */
    body {
      font-family: 'Courier New', monospace; /* Fallback for browsers that don't support "Roboto Mono" */
      font-family: 'Roboto Mono', monospace;
      font-size: 12px; /* Adjust for optimal readability on your printer */
      margin: 0;
      padding: 0;
    }

    .container {
      width: 384px; /* Adjust to your printer width */
      margin: 20px auto;
    }

    /* Header */
    h1 {
      font-size: 18px;
      text-align: center;
      margin-bottom: 10px;
    }

    .order-info {
      text-align: center;
      margin-bottom: 20px;
    }

    /* Table */
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    tbody tr:nth-child(even) { /* Add alternating row color for visual separation */
      background-color: #f9f9f9;
    }

    /* Footer */
    .total {
      text-align: right;
      margin-top: 20px;
      font-weight: bold;
    }
  </style>
</head>
<body onload="window.print()">
  <div class="container">
    <div class="header">
      <h1>Nota Fiscal</h1>
      <p>CNPJ: 36.245.378/0001-00</p>
      <p>Endereço: R. Antônio Losso, 737 - São Cristóvão, Guarapuava - PR, 85060260</p>
    </div>
    <div class="details">
      <p><strong>Dados do Cliente:</strong></p>
      <p>Nome: ____________________________________________</p>
      <p>CPF: ____________________________________________ </p>
      <%# Add payment method if available %>
    </div>
    <h1>Pedido #<%= @order.id %></h1>
    <div class="order-info">
      <p>Mesa: <%= @order.table.number %></p>
      <p>Data: <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>

    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantidade</th>
          <th>Preço Unitário</th> <%# Add header for unit price %>
          <th>Preço Total</th>   <%# Add header for total price %>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |item| %>
          <% if item.quantity > 0 %>
            <tr>
              <td><%= item.menu_item.name %></td>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.menu_item.price) %></td> <%# Show unit price %>
              <td><%= number_to_currency(item.menu_item.price * item.quantity) %></td> <%# Calculate and show total price for the item %>
            </tr>
          <% end %>
        <% end %>
        <% @order.dishes.each do |dish| %>
         <tr>
           <td>
             <% if dish.dish_type == 'prato_por_quilo' %>
               Prato por Quilo
             <% elsif dish.dish_type.present? %>
               <%= dish.dish_type.humanize %>
             <% else %>
               Prato por quilo
             <% end %>
           </td>
           <td>1</td>
           <td><%= number_to_currency(dish.price, unit: "R$", separator: ",", delimiter: ".") %></td>
           <td><%= number_to_currency(dish.price, unit: "R$", separator: ",", delimiter: ".") %></td>
         </tr>
       <% end %>
      </tbody>
    </table>

    <% if @order.observations.present? %>
      <div class="observations">
        <h1>Observações:</h1> <%# Title for the observations section %>
        <p><%= @order.observations %></p>
      </div>
    <% end %>

    <div class="total">
      Total: <%= number_to_currency(@order.total) %>
    </div>
  </div>
</body>
</html>
