<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <%= javascript_importmap_tags %>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.jpg", alt: "Restaurant Logo", class: "d-inline-block align-text-top img-fluid", style: "width: 180px; height: 100px;" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Cardápio", menu_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Pedidos", orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mesas", tables_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %> alert-dismissible fade show m-3 custom-alert border border-3 shadow-lg" role="alert">
    <div class="d-flex align-items-center">
      <i class="bi <%= alert_icon_class(type) %> me-2 fs-4"></i>
      <div>
        <strong class="alert-heading fs-5"><%= type.to_s.capitalize %>!</strong>
        <%= msg %>
      </div>
    </div>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

  <%= yield %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>
